# Server Configuration
PORT=5000

# Database Configuration
# Provide your MongoDB connection string (local or Atlas)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/tripcraft?retryWrites=true&w=majority

# Security Keys
JWT_SECRET=your_jwt_secret_key_at_least_32_characters

# AI APIs
# Provide your OpenAI API Secret Key for Itinerary Generation
OPENAI_API_KEY=sk-proj-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Client Origin (Vite default is http://localhost:5174 or http://localhost:5173)
CLIENT_URL=http://localhost:5174
